body {
	background-color: #324049;
	width: 100%;
	height: 100vh;

	font-family: 'Montserrat', sans-serif;
	
}

main {
	
	display: flex;
	flex-direction: column;
	align-items: center;
}	

nav {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 8%;

	background-color: #01bab4;
	font-weight: 600;
	color: white;

	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.navlinks {
	text-shadow: 0px 1px 1px black;
	color: white;
	text-decoration: none;

	font-size: 1.2em;
}

.navlinks:hover {
	color:#ea3057;
}

.container {
	display: flex;
	flex-direction: column;

	align-items: center;
	justify-content: center;

	width: 95%;
	max-width: 900px;
	background-color: white;
	
	border-radius: 10px;
	border: 1px solid black;

	position: relative;
	bottom: -5em;

	padding: 1em 0em;
	margin-top: 5em;

	box-shadow: 0px 0px 5px 5px rgb(53, 53, 53);
}

#welcome {
	margin-top: 0em;
}

#welcome h1{
	color: #ea3057;
	font-size: 4em;
	font-weight: 700;

	text-align: center;

	margin-bottom: 0.5em;
}

#welcome h2 {
	color: #01bab4;
	font-size: 2em;
	font-weight: 700;

	text-align: center;

	margin-bottom: 0.5em;

	font-family: 'Lato', sans-serif;	
}

.containerheader{
	color: #ea3057;
	font-size: 2em;
	font-weight: 700;

	text-align: center;

	margin-bottom: 1em;
}

.containertext {
	color: black;
	font-size: 1em;

	text-align: center;

	font-family: 'Lato', sans-serif;
	line-height: 1.5em;

	width: 95%;

	line-height: 2em;
}

.container-portfolio-section{
	display: flex;
	flex-direction: column;
	align-items: center;
}

#portfolioimg {
	width: 100%;
	object-fit: contain;
}

#selfimg {
	display: none;
}

.contactlinks{
	padding: 1em 1em;
	margin: 0.5em 0em;

	text-decoration: none;
	color: #01bab4;
	font-weight: 700;

	border: 1px solid #01bab4;
	border-radius: 15px;

	transition: 0.3s;
}

.contactlinks:hover {
	background-color: #01bab4;

	color: white;
}


@media (min-width: 700px){	
	main {
		flex-direction: column;
		justify-content: space-evenly;

		flex-wrap: wrap;
	}

	.container {
		margin-top: 0em;
		margin-bottom: 20em;
		height: 20em;
		width: 100%;
	}
	
	#welcome{
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#welcome h1 {
		font-size: 4em;
	}

	.container-portfolio-section{
		flex-direction: row;
	}

}
