@import "./variables.module.scss";

.topContainer {
	background: linear-gradient(-45deg, $highlight, $tertiary, $background);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

.infoContainer {
	max-width: 800px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
	display: grid;
	place-items: center;
  }
  
  .typingDemo {
	width: 22ch;
	animation: typing 2s steps(22), .5s step-end infinite alternate;
	white-space: nowrap;
	overflow: hidden;
	-webkit-animation: typing 2s steps(22), .5s step-end infinite alternate;
}
  
  @keyframes typing {
	from {
	  width: 0
	}
  }
	  
  @keyframes blink {
	50% {
	  border-color: transparent
	}
  }