@import "./variables.module.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 3.5rem,
  5: 3rem,
  6: 2.5rem,
  7: 2rem,
  8: 1.5rem
);

$border-widths: (
  1: 1px,
  2: 2px,
  3: 3px,
  4: 4px,
  5: 5px,
  6: 6px,
  7: 7px,
  8: 8px,
  9: 9px,
  10: 10px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 4,
  8: $spacer * 4.5,
  9: $spacer * 5,
  10: $spacer * 5.5
);


$theme-colors: (
    "background": $background,
    "headline": $headline,
    "subHeadline": $subHeadline,
    "cardBackground": $cardBackground,
    "cardHeading": $cardHeading,
    "cardParagraph": $cardParagraph,
    "stroke": $stroke,
    "main": $main,
    "highlight": $highlight,
    "secondary": $secondary,
    "tertiary": $tertiary
);

#__next, html {
  background-color: #141421;
}

* {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 992px) {
  .mobileStacked {
    flex-direction: column;
  }
  
  .github-calendar {
    display: none
  }
}

@import "~bootstrap/scss/bootstrap";
